table{
    width: 100%;
}
table,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
td:first-child{
    text-align: left;
    border-right:none;
}
td:nth-child(2){
    border-left: none;
}